@{
    ViewBag.Title = "Pismo";
}

<h2 style="text-align:center">Odbor za suradnju s tvrtkama</h2>
<hr />
<div class="row">
    <p style="text-align:center">Poštovana/ni,</p>
    <p></p>
    Temeljnja misija Studentskog Zbora, svih njegovih odobra i članova, je pronalazak te implementacija inovativnih pristupa kojima se olakšava, potiče i obogaćuje proces studiranja studenata.
    <p></p>
    Jedna violina ne može odsvirati simfoniju, potreban je cijeli orkestar. Isto tako jedan odbor ne može sam obaviti tu misiju, već je potrebna kooperativnost i kohezija između svih komponentni Zbora kako bi se NAŠ cilj ostvario.
    <p></p>
    Nije bitno vodi li pojedini odbor projekt ili pomaže pri ostvarivanju istoga, bitno je da svaki odbor AKTIVNO sudjeluje u realizaciji nečega što će poboljšati kvalitetu studiranja naših studenata.
    <p></p>
    Uz svoje opće ciljeve, jedna od glavnih zadaća FR (Fund Raising) odbora je pronalazak načina unutar svoje domene, koji će pomoći pri realizaciji ciljeva ostalih odbora. Ta zadaća može obuhvaćati postupke ostvarivanja kontakata s određenim kompanijama ili institucijama te prikupljanje materijalnih ili financijskih sredstava koji su nužni za realizaciju cilja.
    <p></p>
    <p></p>
    <p style="text-align:center">Srdačan pozdrav,</p>
    <p style="text-align:center">SimpleBro</p>
</div>
<hr />
<div class="row">
    <h3 style="text-align:center">CDB</h3>
    <hr />
    <p></p>
    Temeljna svrha CDB-a je obuhvaćanje svih aktivnosti povezanih s FR-om (Fund Raising) na jedno, uvijek dostupno mjesto. Uz lakšu dostupnost podacima te mogući pregled svih prošlih i sadašnjih suradnji, ovo interaktivno sučelje ima potencijal dugoročno povećati produktivnost i uspješnost FR aktivnosti.
    <p></p>
    CDB se koristio kao sredstvo za evidentiranje/uređivanje/praćenje podataka o postignutim suradnjama s kompanijama, o projektima Zbora, kompanijama s kojima se obavlja ili se obavljaja suradnja te o kontaktima iz tih kompanija.
    <p></p>
    CDB služio za pregled statistike poslovanja kako odbora tako i članova odbora. Uz mnoge prednosti statističkog analiziranja povijesnih suradnji, ističe se dobivanje uvida u karakter pojedinih kompanija i njihovih kontakata koji može omogućiti lakše ostvarijavnje budućih suradnji.
    <p></p>
</div>
<hr />
<div class="row">
    <h3 style="text-align:center">Poziv na sudjelovanje</h3>
    <hr />
    <p></p>
    Pri ostvarivanju suradnje s kompanijom, ishod suradnje je uvijek pozitivan. Čak i ako suradnja nije prihvaćena, odgovorni član je stekao iskustvo na temelju kojega može unaprijediti svoje buduće suradnje s kompanijama, bilo to u funkciji FR-a za određeni projekt Zbora ili u funkciji diplomiranog inženjera koji traži posao. Neke stvari jednostavno ne pišu u knjigama.
    <p></p>
    Svim članovima Zbora ili individualnih odbora koji su voljni testirati i unaprijediti svoje sposobnosti minglanja s korporacijama, vrata FR odbora i CDB-a su uvijek otvorena!
    <p></p>
</div>